h1+h3 {
	float: right;
	padding-top: 1%;
}

table {
	width: 90vw;
	max-width: 1000px;
	position: relative;
	left: 3vw;
	border: .5vw solid #2B1600;
	empty-cells: show;
}

tr:nth-child(odd){
	background-color: #B29981;
}

tr:nth-child(even){
	background-color: #FFDBB8;
}

.hide {
	display: 'hide';
}

th, td {
	padding: 1vw;
}

p {
	text-indent: 5vw;
}

.label {
	font-weight: bold;
}

#overview>* {
	display: inline-block;
	margin-bottom: 0vh;
	margin-top: 2vh;
}

footer>* {
	float: right;
	font-size: 75%;
	color: #2B1600;
	margin-bottom: 2vh;
}