<!DOCTYPE html>
<html>
	<head>
		<title>Spell Details</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/card.css">
	</head>
	<body>
		<header>
			<div id="title-header">
				Droor Spellbook
			</div>
			<nav>
				<!--TODO: fix this link, it's just a dummy value-->
				<a href="index.html"></a>
			</nav>
		</header>
		<article>
			<hgroup id="overview">
				<h1>Shield Of Cats</h1>
				<h3>7st-level Conjuration</h3>
			</hgroup>
			</br>
			<table id="technical-details">
				<tr class="odd">
					<td class="label">Casting Time</td>
					<td>1 Action</td>
					<td class="label">Ritual</td>
					<td>Yes</td>
				</tr>
				<tr class="even">
					<td class="label">Duration</td>
					<td>10 hours</td>
					<td class="label">Verbal</td>
					<td>Yes</td>
				</tr>
				<tr class="odd">
					<td class="label">Concentration</td>
					<td>Yes</td>
					<td class="label">Somatic</td>
					<td>Yes</td>
				</tr>
				<tr id="components-vs" class="even">
					<td class="label">Range</td>
					<td>60 Feet</td>
					<td class="label">Focus</td>
					<td>Yes</td>
				</tr>
				<tr id="material-details" class="odd">
					<td class="label">Material</td>
					<td colspan="3">A willing brood of cats</td>
				</tr>
			</table>
			<h3 class="label">Detailed Description:</h3>
			<p>
				All of the cats from you willing brood are enlarged to bodyguard size, and mess people up as cats tend to do.
			</p>
			<hr/>
			<h3 class="label">Spell Lists:</h3>
			<p>Cleric, Paladin</p>
		</article>
		<footer>
			<div id="similar-links">
				<!--links to other spells for these classes, other spells of this school, other spells of this level, etc-->
				<!--alternative: put this "contextually relative links" block into an aside instead of the footer-->
			</div>
		</footer>
	</body>

</html>