<!DOCTYPE html>
<html ng-app="spellbook-card">
	<head>
		<title>Spell Details</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/common.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/card.css">
		<script src="angular.js"></script>
		<script src="card_list.js"></script>
		<script src="card_ctrl.js"></script>
	</head>
	<body ng-controller="CardCtrl as cardCtrl">
		<header>
			<div id="title-header">
				Droor Spellbook
			</div>
			<nav>
				<!--TODO: fix this link, it's just a dummy value-->
				<a href="index.html"></a>
			</nav>
		</header>
		<article>
			<hgroup id="overview">
				<h1>{{cardCtrl.card.title}}</h1>
				<h3>{{cardCtrl.displayLevel}}</h3>
			</hgroup>
			</br>
			<table id="technical-details">
				<tr ng-repeat="row in cardCtrl.table">
					<td class="label">{{row[0][0]}}</td>
					<td>{{row[0][1]}}</td>
					<td class="label">{{row[1][0]}}</td>
					<td>{{row[1][1]}}</td>
				</tr>
				<tr id="material-details" ng-class="cardCtrl.lastRowClass">
					<td class="label">Material</td>
					<td colspan="3">{{cardCtrl.card.material}}</td>
				</tr>
			</table>
			<h3 class="label">Detailed Description:</h3>
			<p>
				{{cardCtrl.card.description}}
			</p>
			<h3 class="label">Spell Lists:</h3>
			<p>{{cardCtrl.joinedClassList}}</p>
		</article>
		<footer>
			<a href="/">Return to homepage</a>
		</footer>
	</body>

</html>