<!DOCTYPE html>
<html ng-app="spellbook-index">
  
  <head>
    <title>Spellbook, a D&D 5e reference</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
    <script src="angular.js"></script>
    <script src="card_list.js"></script>
    <script src="index_ctrl.js"></script>
  </head>
  
  <body ng-controller="IndexCtrl as indexCtrl">
    <header>
      <div id="title-header">Droor Spellbook</div>
    </header>
    <article>
      <h1>Welcome to the Spellbook!</h1>
      <div align="center">
        <select ng-change="go(chosen_spell)" ng-options="spell.title for spell in spellbook_list" ng-model="chosen_spell">
          <option value="">Select a spell</option>          
        </select>
        </div>
    </article>
  </body>

</html>